@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;

  /* Branding Pesona Kahayan */
  --primary-color: #111111;
  --secondary-color: #facc15; /* Construction Yellow */
  --accent-orange: #f59e0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #111111;
  --color-secondary: #facc15;
  --color-secondary-orange: var(--accent-orange);

  --color-neutral-dark: #111111;
  --color-neutral-light-white: #ffffff;
  --color-neutral-light: #f3f4f6;

  --font-heading: var(--font-barlow-condensed);
  --font-sans: var(--font-barlow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}
